In [1]:
import pandas as pd

In [2]:
dtype_options = {'column_name1': str, 'column_name2': str, 'column_name3': str}
df=pd.read_csv(r'C:\Users\Administrator\Downloads\iot_telemetry_data.csv',dtype=dtype_options, low_memory=False)

In [3]:
df

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.describe()

,ts,co,humidity,lpg,smoke,temp
count,9.953500e+04,99535.000000,99535.000000,99535.000000,99535.000000,99535.000000
mean,1.590000e+09,0.004680,60.921885,0.007302,0.019438,22.123851
std,0.000000e+00,0.001139,11.019916,0.001231,0.003525,2.468794
min,1.590000e+09,0.002264,6.900000,0.004341,0.011142,0.100000
25%,1.590000e+09,0.004132,51.200000,0.006708,0.017736,19.700001
50%,1.590000e+09,0.004833,55.200000,0.007513,0.020020,21.900000
75%,1.590000e+09,0.005114,74.300003,0.007826,0.020912,23.600000
max,1.590000e+09,0.014420,79.300003,0.016567,0.046590,28.600000

In [60]:
df.columns

Index(['ts', 'device', 'co', 'humidity', 'light', 'lpg', 'motion', 'smoke',
       'temp'],
      dtype='object')

In [61]:
columns_rename={'ts':'timestamp','device':'device_id','co':'carbon_monoxide','humidity':'humidity'
                ,'light':'light','lpg':'liquefied_petroleum_gas','motion':'motion','smoke':'smoke','temp':'temperature'}

In [62]:
df=df.rename(columns=columns_rename)

In [63]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df=df.isnull().sum()       # find null values
df

timestamp                  305649
device_id                  305649
carbon_monoxide            305649
humidity                   305649
light                      305649
liquefied_petroleum_gas    305649
motion                     305649
smoke                      305649
temperature                305649
dtype: int64

In [65]:
df=df.drop_duplicates()         # drop duplicates

In [66]:
df=df.dropna()           # drop null values

In [67]:
df.dtypes # dtypes

dtype('int64')

In [68]:
df['timestamp'] = df['timestamp'].astype('datetime64[ns]')   # data type changing

In [54]:
df['light']=df['light'].astype('bool')

KeyError: 'light'

In [ ]:
df['motion']=df['motion'].astype('bool')

In [ ]:
df=df.to_csv("cleaned_dataset.csv")      # load the csv file