In [27]:
import pandas as pd

In [28]:
df=pd.read_csv(r"C:\Users\Administrator\Downloads\comments.csv")

In [29]:
df

,id,comment,User id,Photo id,created Timestamp,posted date,emoji used,Hashtags used count
0,1,unde at dolorem,2,1,13-04-2023 08:04,April 14,yes,1
1,2,quae ea ducimus,3,1,13-04-2023 08:04,April 14,no,2
2,3,alias a voluptatum,5,1,13-04-2023 08:04,April 14,no,4
3,4,facere suscipit sunt,14,1,13-04-2023 08:04,April 14,yes,2
4,5,totam eligendi quaerat,17,1,13-04-2023 08:04,April 14,yes,1
...,...,...,...,...,...,...,...,...
7483,7484,accusamus vel est,82,257,13-04-2023 08:04,April 14,no,5
7484,7485,sit nulla qui,91,257,13-04-2023 08:04,April 14,no,6
7485,7486,sed quidem vitae,93,257,13-04-2023 08:04,April 14,yes,2
7486,7487,dolorem eveniet rerum,95,257,13-04-2023 08:04,April 14,yes,1
7487,7488,dolores nihil voluptas,96,257,13-04-2023 08:04,April 14,no,3

In [30]:
comments_data=df

In [31]:
comments_data

,id,comment,User id,Photo id,created Timestamp,posted date,emoji used,Hashtags used count
0,1,unde at dolorem,2,1,13-04-2023 08:04,April 14,yes,1
1,2,quae ea ducimus,3,1,13-04-2023 08:04,April 14,no,2
2,3,alias a voluptatum,5,1,13-04-2023 08:04,April 14,no,4
3,4,facere suscipit sunt,14,1,13-04-2023 08:04,April 14,yes,2
4,5,totam eligendi quaerat,17,1,13-04-2023 08:04,April 14,yes,1
...,...,...,...,...,...,...,...,...
7483,7484,accusamus vel est,82,257,13-04-2023 08:04,April 14,no,5
7484,7485,sit nulla qui,91,257,13-04-2023 08:04,April 14,no,6
7485,7486,sed quidem vitae,93,257,13-04-2023 08:04,April 14,yes,2
7486,7487,dolorem eveniet rerum,95,257,13-04-2023 08:04,April 14,yes,1
7487,7488,dolores nihil voluptas,96,257,13-04-2023 08:04,April 14,no,3

In [32]:
comments_data.columns

Index(['id', 'comment', 'User  id', 'Photo id', 'created Timestamp',
       'posted date', 'emoji used', 'Hashtags used count'],
      dtype='object')

# def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    comments=read_data_from_csv()

    #Remove Unwanted columns
    #id	comment	User  id	Photo id	created Timestamp	posted date	emoji used	Hashtags used count
    column_name={'id':'id','comment':'comment_text','User  id':'user_id','Photo id': 'photo_id','created Timestamp':'created_at'}  #df = df.drop('B', axis=1)
     #df = df.drop(['posted date', 'emoji used', 'Hashtags used count'], axis=1) \
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	comment_text
    # 3.	user_id
    # 4.	photo_id
    # 5.	created_at
    
    #export cleaned Dataset to newcsv file named "comments_cleaned.csv"
    comments.to_csv('comments_cleaned.csv')
    return comments


#Do not Delete the Following function
def task_runner():
    data_cleaning()

task_runner()

In [33]:
df.columns

Index(['id', 'comment', 'User  id', 'Photo id', 'created Timestamp',
       'posted date', 'emoji used', 'Hashtags used count'],
      dtype='object')

In [34]:
comments_data.dtypes

id                      int64
comment                object
User  id                int64
Photo id                int64
created Timestamp      object
posted date            object
emoji used             object
Hashtags used count     int64
dtype: object

In [35]:
comments_data=comments_data.drop(['posted date','emoji used','Hashtags used count'],axis=1)

In [36]:
comments_data

        id                 comment  User  id  Photo id created Timestamp
0        1         unde at dolorem         2         1  13-04-2023 08:04
1        2         quae ea ducimus         3         1  13-04-2023 08:04
2        3      alias a voluptatum         5         1  13-04-2023 08:04
3        4    facere suscipit sunt        14         1  13-04-2023 08:04
4        5  totam eligendi quaerat        17         1  13-04-2023 08:04
...    ...                     ...       ...       ...               ...
7483  7484       accusamus vel est        82       257  13-04-2023 08:04
7484  7485           sit nulla qui        91       257  13-04-2023 08:04
7485  7486        sed quidem vitae        93       257  13-04-2023 08:04
7486  7487   dolorem eveniet rerum        95       257  13-04-2023 08:04
7487  7488  dolores nihil voluptas        96       257  13-04-2023 08:04

[7488 rows x 5 columns]

In [37]:
comments_data.columns

Index(['id', 'comment', 'User  id', 'Photo id', 'created Timestamp'], dtype='object')

In [38]:
comments_columns={'id':'id','comment':'comment_text','User  id':'user_id','Photo id':'photo_id','created Timestamp':'created_at'}
###id
    # 2.	comment_text
    # 3.	user_id
    # 4.	photo_id
    # 5.	created_at

In [39]:
comments_columns

{'id': 'id',
 'comment': 'comment_text',
 'User  id': 'user_id',
 'Photo id': 'photo_id',
 'created Timestamp': 'created_at'}

In [40]:
comments_data=comments_data.rename(columns=comments_columns)

In [41]:
comments_data

        id            comment_text  user_id  photo_id        created_at
0        1         unde at dolorem        2         1  13-04-2023 08:04
1        2         quae ea ducimus        3         1  13-04-2023 08:04
2        3      alias a voluptatum        5         1  13-04-2023 08:04
3        4    facere suscipit sunt       14         1  13-04-2023 08:04
4        5  totam eligendi quaerat       17         1  13-04-2023 08:04
...    ...                     ...      ...       ...               ...
7483  7484       accusamus vel est       82       257  13-04-2023 08:04
7484  7485           sit nulla qui       91       257  13-04-2023 08:04
7485  7486        sed quidem vitae       93       257  13-04-2023 08:04
7486  7487   dolorem eveniet rerum       95       257  13-04-2023 08:04
7487  7488  dolores nihil voluptas       96       257  13-04-2023 08:04

[7488 rows x 5 columns]

In [42]:
df=pd.read_csv(r"C:\Users\Administrator\Downloads\follows.csv")

In [43]:
df

,follower,followee,created time,is follower active,followee Acc status
0,2,1,13-04-2023 08:04,1,Private
1,2,3,13-04-2023 08:04,0,private
2,2,4,13-04-2023 08:04,0,public
3,2,5,13-04-2023 08:04,0,private
4,2,6,13-04-2023 08:04,1,private
...,...,...,...,...,...
7618,100,95,13-04-2023 08:04,1,public
7619,100,96,13-04-2023 08:04,1,Private
7620,100,97,13-04-2023 08:04,1,private
7621,100,98,13-04-2023 08:04,1,public
7622,100,99,13-04-2023 08:04,1,private

In [44]:
##Remove Unwanted columns
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	follower_id
    # 2.	followee_id
    # 3.	created_at

In [45]:
follows=df

In [46]:
follows.columns

Index(['follower', 'followee ', 'created time', 'is follower active',
       'followee Acc status'],
      dtype='object')

In [47]:
follows=follows.drop(['is follower active','followee Acc status'],axis=1)

In [48]:
follow_columns={'follower':'follower_id','followee ':'followee_id','created time':'created_at'}

In [49]:
follow_columns

{'follower': 'follower_id',
 'followee ': 'followee_id',
 'created time': 'created_at'}

In [50]:
follows=follows.rename(columns=follow_columns)

In [51]:
follows.columns

Index(['follower_id', 'followee_id', 'created_at'], dtype='object')

In [52]:
df=pd.read_csv(r"C:\Users\Administrator\Downloads\likes.csv")

In [53]:
likes=df
likes.columns

Index(['user ', 'photo', 'created time', 'following or not', 'like type'], dtype='object')

In [54]:
  # 1.	user_id
    # 2.	photo_id
    # 3.	created_at

In [55]:
likes=likes.drop(['following or not','like type'],axis=1)

In [56]:
likes_columns={'user ':'user_id','photo':'photo_id','created time':'created_at'}

In [57]:
likes=likes.rename(columns=likes_columns)

In [58]:
likes.columns

Index(['user_id', 'photo_id', 'created_at'], dtype='object')

In [59]:
 # 1.	photo_id
    # 2.	tag_id

In [60]:
df=pd.read_csv(r"C:\Users\Administrator\Downloads\photo_tags.csv")

In [61]:
photo_tags=df

In [62]:
photo_tags.columns

Index(['photo', 'tag ID', 'user id'], dtype='object')

In [63]:
photo_tags=photo_tags.drop(['user id'],axis=1)

In [64]:
photo_columns={'photo':'photo_id','tag ID':'tag_id'}

In [65]:
photo_tags=photo_tags.rename(columns=photo_columns)

In [66]:
df=pd.read_csv(r"C:\Users\Administrator\Downloads\photos.csv")

In [67]:
photos=df

In [68]:
photos.columns

Index(['id', 'image link', 'user ID', 'created dat', 'Insta filter used',
       'photo type'],
      dtype='object')

In [69]:
 # 1.	id
    # 2.	image_url
    # 3.	user_id
    # 4.	created_date

In [70]:
photos=photos.drop(['Insta filter used','photo type'],axis=1)

In [71]:
photos_columns={'id':'id','image link':'image_url','user ID':'user_id','created dat':'created_date'}

In [72]:
photos=photos.rename(columns=photos_columns)

In [73]:
   # 1.	id # 2.	tag_name# 3.	created_at.csv"
df=pd.read_csv(r"C:\Users\Administrator\Downloads\tags.csv")

In [74]:
tags=df

In [75]:
tags.columns

Index(['id', 'tag text', 'created time', 'location'], dtype='object')

In [76]:
tags=tags.drop(['location'],axis=1)

In [77]:
tags_columns={'id':'id','tag text':'tag_name','created time':'created_at'}

In [78]:
tags=tags.rename(columns=tags_columns)

In [79]:
 # 1.	id# 2.	username# 3.	created_at
df=pd.read_csv(r"C:\Users\Administrator\Downloads\users.csv")

In [80]:
users=df

In [81]:
users.columns

Index(['id', 'name', 'created time', 'private/public', 'post count',
       'Verified status'],
      dtype='object')

In [82]:
users=users.drop(['private/public','post count','Verified status'],axis=1)

In [83]:
users_columns={'id':'id','name':'username','created time':'created_at'}

In [84]:
users=users.rename(columns=users_columns)

In [85]:
l = [2, 3, [4], [[5]]]
output = []

for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == list:
                for z in j:
                    output.append(z)
            else:
                output.append(j)
    else:
        output.append(i)

print(output)

[2, 3, 4, 5]

In [86]:
output=[]
l=[2,3,[4],[[5,[8],[8],[6]]]]
for  i in l:
    if type(i)==list:
        for j in i:
            if type(j)==list:
                for z in j:
                    output.append(z)
            else:
                output.append(j)
    else:
        output.append(i)
print(output)

[2, 3, 4, 5, [8], [8], [6]]

In [87]:
output=[]
l=[2,3,[4],[[5],[6]]]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==list:
                for z in j:
                    output.append(z) 
                    
            else:
                output.append(j)
    else:
        output.append(i)

In [88]:
l=[2,3,[4],[[5],[6,7],8],[[[[5]]]]]  # output 2,3,4,5
output=[]
for item in l:
    if type(item)==list:
        for nested_item in item:
            if type(nested_item)==list:
                for sub_nest_item in nested_item:
                    output.append(sub_nest_item)
            else:
                output.append(nested_item)
    else:
        output.append(item)
print(output)

[2, 3, 4, 5, 6, 7, 8, [[5]]]

In [89]:
output = []
l = [2, 3, [4], [[5, [8],[[8]],[[[6]]] ,[8], [6]]]]

def flatten_list(l):
    for item in l:
        if isinstance(item, list):
            flatten_list(item)
        else:
            output.append(item)

flatten_list(l)
print(output)

[2, 3, 4, 5, 8, 8, 6, 8, 6]

In [90]:
output = []
l = [2, 3, [4], [[5, [8],[[8]],[[[6]]] ,[8], [6]]]]
def flatten_list(l):
    for i in l:
        if isinstance(i,list):
            flatten_list(i)
        else:
            output.append(i)
flatten_list(l)
print(output)

[2, 3, 4, 5, 8, 8, 6, 8, 6]